/* .grid {
    border: 2px solid black;
} */
html {
    text-align: center;
    /* background: lightgrey */
}

img {
    width: 70vh;
    height: 10vh;
}
#gridAndScore {
    display: flex;
    justify-content: space-evenly;
}
#grid {
    display: flex;
    flex-direction: column
}
main {
    z-index: 20;
    display: flex;
    justify-content: center;
}
#categories {
    color: magenta;
    display: flex;
    justify-content: center;
}
span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catCell {
    /* height: 50px; */
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dotted gold;
    background: blue;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px black;
}

.row {
    height: 100px;
    display: flex;
}

.cell {
    height: 100px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    background: blue;
    border: 5px dotted gold;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px black;
    /* background: url(test.jpg) center center; */
}

.clickedCell {
    color: transparent;
    text-shadow: none;
    z-index: -100;
}

#scoreboard {
    /* border: 1px solid black; */
    padding: 2px;
    color: blue;
    text-shadow: .5px .5px black;
    /* background-color: white; */
}
#scoreHere {
    color: gold;
    text-shadow: .5px .5px black;
}

button {
    background: blue;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: gold;
    border: none
}